html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






body
{
    background-color: #e9ebee;
    color: #1d2129;
    font-family: 'Bitter', serif;
    font-size: 12px;
    margin: 0 !important;
}
#wrapper
{
    width: 100%;
}
#header
{
    width: 100%;
    height: 83px;
    margin: 0 auto;
    padding: 0;
    background-color: #3b5998;
    border-bottom: 1px solid #365899;
}
#header-content
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#logo
{
    float: left;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    width: 50%;
    padding-top: 20px;
}
#inputy
{
    float: left; 
    width: 50%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #e9ebee;
    font-size: 12px;
}
.input1
{
    width: 210px;
}
.input2
{
    width: 170px;
}
.input3
{
    width: 90px;
    padding-top: 12px;
}
.input2 label
{
    display: block;
    font-size: 12px;
}
.input2 a
{
    text-align: center;
    color: #e9ebee; 
    opacity: 0.5;
}
.input2 a :hover
{
    cursor: pointer;
    text-decoration: underline;
}
.input2 a label
{
    height: 10px;  
    color: #e9ebee;
    font-size: 12px;
   /* opacity: 0.8; */
    display: inherit;
} 
#inputy form
{
    display: -webkit-inline-box;
    padding-top: 10px;
    margin-left: 50px;
}
#inputy input[type="text"],
#inputy input[type="password"]
{
    width: 150px;
    height: 18px;
    border: 0.5px solid #1d2129;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
#inputy input[type="submit"]
{
    background-color: #4267b2;
    border: 1px solid #29487d;
    color: #fff;
    height: 23px;
    font-weight: 400; 
    margin-top: 5px;
}
.input3 :hover
{
    background-color:#003399 !important;
    cursor: pointer;
}
#content
{
    width: 1000px;
    height: 630px;
    margin-left: auto;
    margin-right: auto;
}
#leftSide
{
    float: left;
    width: 540px;
    margin-right: 20px;
}
#rightSide
{
    float: left;
    width: 340px;
    /* margin-right: 20px; */
    padding-left: 25px;
    height: 640px;
}
.photo
{
    display: inline-block;
    margin: 5px;
    margin-bottom: 0;
    border-right: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    /* border-bottom: 1px solid #E0E0E0; */
    border-radius: 7px;
    width: 160px;
    height: 190px;
    z-index: 1;
    
}
#shadow:hover
{
    -webkit-box-shadow: 0px 1px 10px 3px rgba(186,173,177,0.6);
    -moz-box-shadow: 0px 1px 10px 3px rgba(186,173,177,0.6);
    box-shadow: 0px 1px 10px 3px rgba(186,173,177,0.6);
}
.photo .iconCancel :hover
{
    transform:scale(0,5);
}
.link
{
    z-index: 2;
}
.link > p
{ 
    width: 160px;
    height: 30px;
    /* background-color: #fff; */
    text-align: center;
    font-size: 18px;
    color: #4b4f56;
    padding-top: 7px;
    padding-bottom: 7px;
    /* border-right: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0; */
    /* border-bottom: 1px solid #E0E0E0; */
    border-radius: 7px;
}
.link1 > p
{
    width: 160px;
    height: 30px;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-right: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 7px;
    color: #365899;
}
.icon-plus-circled-1
{
    color: #365899;
    font-size: 40px;
    width: 160px;
    height: 160px;
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon
{
    width: 160px;
    height: 160px;
} 
.overlay
{
    position: relative;
}
.iconCancel
{
    position: absolute;
}
.icon-cancel-circled
{
    font-size: 17px;
    color: rgba(0, 0, 0, .3);
    transition: all 0.2s ease-in-out;
    
}
.photo :hover .iconCancel
{
    transform:scale(2.0);
}
.photo :hover .iconCancel .icon-cancel-circled
{
     color: #fff;
}
img
{
    width: 160px;
    height: 160px;
    border-radius: 4px 4px 0 0;
    z-index: 1;
    display: block;
}
.h1
{
    font-size: 34px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 5px;
}
.subtitle
{
    font-size: 19px;
    padding-bottom: 20px;
    color: #4b4f56;
    display: block;
    padding-top: 7px;
}
a
{
    text-decoration: none;
}
p
{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.photoAsia
{
    background-color: #fff;
    border-radius: 5px;
}
.photoRuda
{
    background-color: #fff;
    border-radius: 5px;
}
.aditionalPhoto
{
    border-radius: 5px;
    background-color: #f5f6f7;
}
form
{
    width: 450px;
}
section > form > input
{
    width: 400px;
    height: 35px;
    margin-top: 10px;
    border-top: 0.5px solid #bdc7d8;
    border-left: 0.5px solid  #bdc7d8;
    border-right: 0.5px solid  #bdc7d8;
    border-bottom: 0.5px solid  #bdc7d8;
    border-radius: 5px;
    font-size: 18px;
    color: #DADADA;
    padding-left: 10px;
}
.nameSurname input
{
    float: left;
    width: 189px;
    height: 35px;
    border-top: 0.5px solid #bdc7d8;
    border-left: 0.5px solid  #bdc7d8;
    border-right: 0.5px solid  #bdc7d8;
    border-bottom: 0.5px solid  #bdc7d8;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
    margin-right: 10px;
}
#birth
{
    margin-top: 20px;
    width: 400px;
}
#birth > p
{
    font-size: 19px;
    color: #4b4f56;
    padding-bottom: 7px;
}
#birth select
{
    float: left;
    width: 70px;
    height: 30px;
    border-top: 0.5px solid #bdc7d8;
    border-left: 0.5px solid  #bdc7d8;
    border-right: 0.5px solid  #bdc7d8;
    border-bottom: 0.5px solid  #bdc7d8;
}
#question
{
    width: 230px;
    float: left;
}
#some-element
{
    border: 1px solid #bdc7d8;
    display: none;
    font-size: 13px;
    /* margin-top: 10px; */
    height: 160px;
    text-decoration: none;
    background-color: #fff;
    position: absolute;
    width: 300px;
    padding-top: 10px;
    /* padding-bottom: 10px;  */
    padding-left: 10px;
    padding-right: 20px;
}
#haze
{
    -webkit-transform: translate(-340px,-28px); 
    -moz-transform: translate(-340px,-28px); 
    -ms-transform: translate(-340px,-28px); 
     transform: translate(-340px,-28px); 
     position: relative; 
}
#submitOK
{
    width: 310px;
    height: 50px;
    margin-top: 10px;
    border-top: 1px solid #bdc7d8;
    padding-right: 0px;
    padding-top: 5px;
}
#triangle
{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #fff;
    border-bottom: 10px solid transparent;
    display: none;
    /* -webkit-transform: translate(150px,8px); 
    -moz-transform: translate(150px,8px);  
    -ms-transform: translate(150px,8px); 
    transform: translate(150px,8px); */
    position: absolute; 
    left: 325px;
    top: 7px;
    z-index: 1;
}
#some-element input
{
    width: 30px;
    height: 25px;
    color: white;
    background-color: #365899;
    float: right;
    border-radius: 3px;
    border: 1px solid #365899;
    text-align: center;
    padding: 5px;
}
#some-element:hover
{
    text-decoration: none;
}

#question:hover #some-element, #question:hover #triangle
{
    display: block;
}
#question
{
    float: left;
    width: 180px;
    height: 40px;
    padding-left: 10px;
}
#question a :hover
{
    text-decoration: underline;
}
#sex
{
    width: 400px;
    padding-top: 8px;
    padding-left: 5px;
}
#K > input
{
    float: left;
    width: 20px;
}
#M > input
{
    float: left;
}
#sex p
{
   padding-left: 5px;
   color: #1d2129;
   font-size: 18px;
}
#K
{
    float: left;
    width: 100px;
    font-size: 17px;
    padding-top: 10px;
    height: 30px;
}
#M
{
    float: left;
    width: 130px;
    font-size: 17px;
    padding-top: 10px;
    height: 30px;
    padding-left: 20px;
}
#text 
{
    font-size: 11px;
    width: 300px;
    height: 100px;
    text-align: left;
    color:#777;
}
#registration
{
    padding-top: 10px;
    width: 400px;
    height: 70px;
    border-bottom: 1px solid #bdc7d8;
}
#registration input
{
    background: linear-gradient(#79bc64, #578843);
    font-size: 19px;
    font-weight: bold;
    color: #fff;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    border: 1px solid;
    border-color: #3b6e22 #3b6e22 #2c5115;
    box-shadow: inset 0 1px 1px #a4e388;
    margin: 10px 0;
    border-radius: 5px;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
#registration input:hover
{
    cursor: pointer;
    background: #69a74e;
}
footer
{
    background-color: #fff;
    height: 170px;

}
#underRegistration p
{
    height: 40px;
    padding-top: 20px;
    font-size: 13px;
    color: #666;
    font-weight: bold;
    display: inline-block;
}
#underRegistration a
{
    color: #365899;
}
footer
{
    width: 100%; 
    height: 170px;   
    margin-left: auto;
    margin-right: auto;
}
#firstLine
{
    border-bottom: 1px solid  #bdc7d8;
    height: 35px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
#firstLine #btn
{
    size: 20px;
    padding: 0 8px;
    border: 1px solid #bdc7d8;
    border-radius: 2px;
    background-color: #f5f6f7;
}
#btn i
{
    vertical-align: middle;
    position: relative;
    font-size: 15px;
}
footer > #firstLine > a
{
    display: inline;
    padding-right: 10px;
    padding-left: 0px;
    color:#365899;
}
#firstLine a:link
{
    color:#365899;
}
#firstLine a:visited
{
    color: #666;
}
#secondLine
{
    height: 70px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
#secondLine i
{
    padding: 3px 10px 3px 0px;
    display: inline-block;
    color:#365899;
}
#thirdLine
{
    width: 1000px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    
}
#thirdLine p
{
    color: #4b4f56;
    font-size: 11px;
    padding-left: 0;
}